<div class="footer-container">
    <a href="https://twitter.com/" target="_blank">
      <img src="https://icon-library.com/images/official-twitter-bird-icon/official-twitter-bird-icon-7.jpg"/>
    </a>
  
    <a href="https://www.instagram.com/" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg"/>
    </a>
  
    <a href="https://www.facebook.com/" target="_blank">
      <img src="https://icon-library.com/images/square-facebook-icon/square-facebook-icon-23.jpg"/>
    </a>
  </div>