<div class="homepage-container" style="background-image: url('https://images.unsplash.com/photo-1585518419759-7fe2e0fbf8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2124&q=80');">
    
    <div class="input-plan">
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


          



          <mat-form-field appearance="fill">
            <mat-label>Your Name</mat-label>
            <input matInput>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Your Phone number</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Your email</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Additional info</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>


          <button>Submit</button>


    
       

    </div>
    
    
   
    <div class="reservation-plan">


        <div class="table-container">


            <div class="row">

                <div class="table six" id="tab1" onClick="reply_click(this.id)"></div>
                <div class="table two" id="tab2"></div>
                <div class="table two" id="tab3"></div>
                <div class="table four" id="tab4"></div>

            </div>
        
        
                
        
                <div class="row sec">
                <div class="table four" id="tab5"></div>
                <div class="table eight occupied" id="tab6"></div>
                <div class="table four " id="tab7"></div>
        
                </div>
        
                <div class="row">
                <div class="table four" id="tab8"></div>
                <div class="table two" id="tab9"></div>
                <div class="table two" id="tab10"></div>
                <div class="table six" id="tab11"></div>
                <div class="table two" id="tab12"></div>

        
                
                
                </div>
            </div>


       
        
         
       


       
        
        
        

    </div>

    
  </div>
  

